<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
    <%= if config.title do %>
      <title><%= config.title %></title>
    <% end %>
  </head>
  <body>
    <%= if config.title do %>
      <h1><%= config.title %></h1>
    <% end %>
    <%= content %>
  </body>
</html>
