@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}

@layer base {

  html,
  body,
  [data-phx-main="true"] {
    @apply h-screen;
    height: -webkit-fill-available;
    -webkit-overflow-scrolling: touch;
  }

  [data-phx-main="true"] {
    @apply flex relative;
  }
}

@layer utilities {
  .fade-in {
    animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
  }

  .fade-out {
    animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
  }

  .fade-in-scale {
    animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
  }

  .fade-out-scale {
    animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
  }
}

/* animations */

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1.0;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1.0;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}
